<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <nav class="navbar navbar-default navbar-fixed-top nav-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 no-padding">
                        <div class="navbar-header teal-back side-padding">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>                        
                            </button>
                            <h1 class="h1font" style="font-family:'Passion One', cursive; font-weight: 400px;">GET SWOLE</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="Navbar">
                            <li><a href="./index">Home</a></li>
                            <li class="active"><a id="border" href="./about">About<span class="sr-only">(current)</span></a></li>
                            <li><a href="./contact">Contact</a></li>
                             <li><a href="./chart">Progress</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </nav>
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12" id="spacer">
    			
    		</div>
    		
    	</div>

    	<div class="row">
    		<div class="col-md-1"></div>
    	   	<div class="col-md-10">
    	   		<div id="about">
    	   			<h3>About Get Swole</h3>
    	   			<hr>
    	   			<p>There’s a glut of workout apps available, but they mostly focus on metrics like calorie counting and weight. This can be frustrating for users who are making real progress, but not yet seeing results on the scale. Without seeing results, many will give up. GetSwole aims to solve this problem by measuring what’s important: gains in strength and endurance. With GetSwole, you'll be able to enter your own exercises, or choose from the basics provided and log them. When you want to see how far you’ve come, just click to see your progress represented in charts that keep you motivated.
    </p>
    	  		</div>
    	  	<div class="col-md-1"></div>
    	    </div>
    	</div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom" id="footer">
      <div class="container-fluid">
        <p class="text-muted text-center footer">&copy;Copyright 2017 Get Swole</p>
      </div>
    </div>
	
</body>
</html>