<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julee|Lobster+Two" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Main Page</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <nav class="navbar navbar-default navbar-fixed-top nav-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 no-padding">
                        <div class="navbar-header teal-back side-padding">
                            <h1 class="h1font">GET SWOLE</h1>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="./index.html">Home <span class="sr-only">(current)</span></a></li>
                            <li><a id="border" href="./about.html">About</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>  
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <select class="div-toggle" data-target=".my-info-1">
                    <option value="select">Select an Option</option> 
                    <option value="chest">chest</option>
                    <option value="back">back</option>
                    <option value="legs">legs</option>
                    <option value="core">core</option>
                    <option value="arms">arms</option>
                </select>
            </div>
            <div class="col-md-2" id="sample1">
                <a href="#workOutModal" class="btn btn-md btn-primary" data-toggle="modal">Example 1</a>
            </div>
            <div class="col-md-2" id="sample2">
                <a href="#workOutModal" class="btn btn-md btn-primary" data-toggle="modal">Example 2</a>
            </div>
           <div class="col-md-2" id="sample3">
                <a href="#workOutModal" class="btn btn-md btn-primary" data-toggle="modal">Example 3</a>
            </div>
            <div class="col-md-2" id="sample4">
                <a href="#workOutModal" class="btn btn-md btn-primary" data-toggle="modal">Example 4</a>
            </div>
            <div class="col-md-2" id="sample5">
                <a href="#workOutModal" class="btn btn-md btn-primary" data-toggle="modal">Example 5</a>
            </div>
        </div>
    </div>
    <hr>
	<div class="container">
        <div class="row">
            <div class="col-md-10">
            	<table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Weight</th>
                            <th>Set 1</th>
                            <th>Set 2</th>
                            <th>Set 3</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td><input type="text" name="exercise-name"></td>
                            <td><input type="integer" id="row-weight" name="row-weight" value=""></td>
                            <td><input type="integer" id="row-set1" name="row-set1" value="Do work"></td>
                            <td><input type="integer" id="row-set2" name="row-set2" value="Excercise"></td>
                            <td><input type="integer" id="row-set3" name="row-set3" value="Sweat"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Submit</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <h1>Exercises done so far:</h1>
            <div class="col-md-12 results-area">
                
            </div>
    </div>
    <!-- Modal HTML Start-->
    <div class="workout"> 
        <div id="workOutModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <STRONG>X</STRONG>
                        </button>
                        <h4 class="modal-title">YouTube Tutorial</h4>
                    </div>
                    <div class="modal-body">
                        <iframe id="workOuttrailer" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Modal HTML Start End -->
    <div class="results"> 
        <div id="resultsModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <STRONG>X</STRONG>
                        </button>
                        <h4 class="modal-title">Your Progress</h4>
                    </div>
                    <div class="modal-body">
                       <div id="progress" class="chart-container" style="position: relative; height:40vh; width:80vw">
                            <canvas id="chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>